.button {
    width: 200px;
    height: 60px;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

body {
    font-family: "Gill Sans", sans-serif;
    font-size: 25pt;
    margin: 2%;
}

b {
    vertical-align: bottom;
}